* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid red;
}

/*border: 2px solid red;*/

:root {
    --clr-primary-1: #222831;
    --clr-primary-2: #393E46;
    --clr-secondary: #00ADB5;
    --clr-accent: #EEEEEE;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.side-bar {
    grid-column: 1;
    grid-row: 1 / 6;
    background-color: var(--clr-primary-1);
    color: var(--clr-secondary);
}

.header {
    grid-column: 2 / 6;
    grid-row: 1;
    background-color: var(--clr-accent);
}

main {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: var(--clr-primary-2);
}